# Ignore c data
*.c

# Ignore subject Data
data/
*.mat

# Ignore photo
*.png

# Ignore Psychtoolbox
Psychtoolbox/

# Igonre triggers information
triggers/
psychtoolbox_unified_keynames.txt

# Ignore the test I have been making
pruebas/